<div>

    <nav class="navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <img src="/assets/images/logo.png" style="  width: 200px;">
      </ul>
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item  " style="margin-right:10px;">
          Seleccione su area |
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item  " style="margin-right:10px;">
          <a href="/auth/client/signin" class="btn btn-block btn-danger">Cliente</a>
        </li>
        <li class="nav-item  " style="margin-right:10px;">
            <a href="/Admin/Login" class="btn btn-block btn-danger">Agente</a>
          </li>
      </ul>
    </nav>
  </div>
  
  <div id="contente">
    <div class="bloque">
  
      <div class="col-6" style="margin-left: 40px; margin-top:30px;">
  
        <div class="row" style="margin-top:20px;">
          <h1 id="titulo">
            BIENVENIDO
          </h1>
        </div>
  
        <div class="row">
          <h3>
            Con el fin de agilizar las solicitudes de apoyo y servirle mejor a usted, utilizamos un sistema de ticket. Cada solicitud de ayuda se le asigna un número único que se puede utilizar para rastrear el progreso
            y
            respuestas en línea. Para su referencia le proporcionamos archivos completos y la historia de todas sus
            solicitudes de soporte. Se requiere una dirección válida de correo electrónico para enviar un ticket.
          </h3>
        </div>
        <div class="row">
          <h3>
            <strong>BRINDAMOS SOPORTE EN</strong>
          </h3>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            
                <img src="/assets/images/servicio.png" class="card-img-top" style="height:250px; weight:250px;">
  
  
               
          </div>
          <div class="col-md-6">
             
                <img src="/assets/images/softland.png" class="card-img-top" style="height:150px; weight:150px;">
                 
          </div>
  
        </div>
      </div>
      <div style="margin-left:60px; margin-top:40px;">
        <img src="/assets/images/log.png" style="  width: 700px;">
      </div>
  
    </div>
  
  
  </div>