<div class="hold-transition register-page">
    <div>
        <div class="register-logo">
            <img src="/assets/images/logo.png" style="  width: 200px;">
        </div>
        <div class="card card-default">
            <div class="card-header">
                <h1 class="text-center">REGISTRO</h1>


            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form #frmRegister="ngForm" (ngSubmit)="onRegister(frmRegister)">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">

                                <h1 class="text-center">DATOS</h1>
                            </div>

                            <div class="form-group">

                                <select class="form-control select2" name="clientType_id " style="width: 100%;" ngModel>
                                    <option   selected="selected">Tipo de cliente</option>
                               
                                    <option value="1">Particular</option>
                                    <option value="2">Empresa</option>
                                    
                                  
                                </select>
                            </div>
                            <!-- /.form-group -->
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="name" placeholder="Nombre" ngModel>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-group">

                                    <input type="text" class="form-control" name="telephone"
                                        placeholder="Ingrese Telefono" ngModel> 
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-group">

                                    <input type="text" class="form-control" name="cellphone"
                                        placeholder="Ingrese Celular" ngModel>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-mobile"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-group">

                                    <textarea class="form-control" rows="3" name="direction"
                                        placeholder="Ingrese su Direccion" ngModel></textarea>
                                </div>
                            </div>

                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="form-group">

                                <h1 class="text-center">CREDENCIALES</h1>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" name="email" class="form-control" placeholder="Email" ngModel>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" name="password" class="form-control" placeholder="Password" ngModel>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </div>
                </form>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Si usted es una entidad le recomendamos contactar a la empresa para una mejor experiencia
            </div>
        </div>
    </div>
</div>