<aside class="main-sidebar sidebar-light elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <a href="#" class="d-block" style="color: #e01545 !important ;">BIENVENIDO</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a routerLink="/client/dashboard" class="nav-link  actives">
                        <i class="nav-icon fas fa-user pnav" style="color: white;"></i>
                        <p style="color: white;">
                            PERFIL

                        </p>
                    </a>
                </li>

                <li class="nav-header">MODULO</li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link actives">
                        <i class="nav-icon far fa-envelope pnav"></i>
                        <p class="pnav">
                            SOFTLAND
                            <i class="fas fa-angle-left right pnav"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/client/softland/history" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>HISTORIAL</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/client/softland/create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>CREAR</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link actives">
                        <i class="nav-icon far fa-envelope pnav"></i>
                        <p class="pnav">
                            SOPORTE TECNICO
                            <i class="fas fa-angle-left right pnav"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/client/support/history" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>HISTORIAL</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/client/support/create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>CREAR</p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link" (click)="authService.logout()">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p>SALIR</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>